@media (max-width: 1440px) {
  .keywords {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {

  :root {
	 --container-padding-inline: 6%;
	 --footer-padding-inline: 6%;
  }

  .keywords li {
   display: none;
  }

  .keywords li:nth-child(-n +9) {
   display: list-item;
  }

  .promo__title {
    font-size: 48px;
  }
  
 .promo__address::before {
   left: -40px;
 }

 .about__text {
	/* max-width: 676px;
	min-height: 116px; */
	font-size: 24px;
  line-height: 29px;
}

.about__services-types {
  flex-direction: column;
  justify-content: start;
}

.about__services-types .about__services-text {
  padding-top: 40px;
  max-width: 100%;
}

.about__services {
  min-width: 100%;
}

.inspiration__grid {
	margin-top: 43px;
	display: grid;
	grid-template-columns: repeat(2, minmax(auto, 1fr));
	column-gap: 20px;
  row-gap: 30px;
}

.tall {
	grid-column: 2;
	grid-row: 2 / span 2;
}

.wide {
	grid-column: 1 / span 2;
  grid-row: 4;
}

.footer {
  padding: 35px 0 40px 0;
}

.footer__flex-wrapper {
  flex-direction: column;
  align-items: flex-start;
}

.footer__social-media {
  padding: 0;
}

.footer address {
  padding: 35px 0 0 0;
}

.footer__number {
  padding: 30px 0 0 0;
}

}

@media (max-width: 576px) {

  :root {
    --container-padding-inline: 15px;
    --footer-padding-inline: 15px;
  }

  .promo {
    padding-top: 50px;
    min-height: 500px;
  }

  .promo__title {
    font-size: 24px;
    line-height: 31px;
  }

  .promo__subtitle {
    font-size: 16px;
    padding-top: 35px;
    line-height: 19px;
  }

  .btn {
    max-width: 120px;
    max-height: 30px;
    font-size: 14px;
    margin-top: 20px;
  }

  .keywords li:nth-last-child(-n +11) {
    display: none;
  }

  .promo__address {
    padding: 233px 0 30px;
  }

  .promo__address::before {
    display: none;
  }

  .about {
    padding-top: 50px;
  }

    .about__services-types ul li:first-child::before,
    .about__services-types ul li:nth-child(3)::before {
      display: none;
    }

    .about .about__text {
      padding-top: 20px;
      font-size: 16px;
      line-height: 19px;
    }

    .about__services-types {
      padding-top: 20px;
    }

    .about__services-types .about__services__subtitle {
      font-size: 12px;
    }

    .about__services-list {
      padding-top: 20px;
    }

    .about__services-types ul li {
      padding-top: 5px;
      font-size: 14px;
      line-height: 17px;
    }

    .about__services-types .about__services-text {
      padding-top: 20px;
      font-size: 12px;
      line-height: 17px;
    }

    .works {
      padding-top: 50px;
    }

    .works__title {
      font-size: 24px;
      line-height: 29px;
    }

    .works__title::after {
      content: "";
      display: block;
      margin-left: 78px;
      width: 75px;
      height: 2px;
      background-color: var(--dark-color);
    }

    .works__templates {
      margin-top: 0;
      padding-top: 43px;
      grid-template-columns: 1fr;
      row-gap: 30px;
    }


    .inspiration {
      /* padding-top: 50px; */
    }

    .inspiration__title {
      font-size: 24px;
      line-height: 29px;
    }

    .inspiration__title span::after {
      content: "";
      display: block;
      margin-left: 78px;
      width: 75px;
      height: 2px;
      background-color: var(--dark-color);
    }

    .inspiration__grid {
      grid-template-columns: 2fr;
      grid-template-rows: repeat(7, auto);
      row-gap: 30px;
      column-gap: 0;
    }

    .inspiration__grid-item {
      grid-column: 1 / span 2;
    }

    .tall {
      grid-column: 1 / span 2;
      grid-row: 4 / span 2;
    }

    .wide {
      grid-column: 1 / span 2;
      grid-row: 7;
    }

    .customers {
      padding: 50px 0 50px 0;
    }

    .customers__title {
      font-size: 24px;
      line-height: 29px;
    }

    .customers__wrapper {
      padding-top: 33px;
      grid-template-columns: repeat(2, minmax(auto, 1fr));
      column-gap: 36px;
      row-gap: 20px;
    }

    .footer__flex-wrapper {
      align-items: center;
    }

    .footer address {
      order: 2;
    }

    .footer__number {
      order: 1;
    }

}