h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
}

ol[role="list"],
ul[role="list"] {
	list-style: none;
	padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

html {
	font-family: "Inter", sans-serif;
}

:root {
	--light-color: #f5f5f7;
	--dark-color: #221f20;
	--container-padding-inline: 13%;
	--footer-padding-inline: 10%;
}

.container {
	padding: 0 var(--container-padding-inline);
}

.promo {
	position: relative;
	min-height: 100vh;
	background: url('../img/main_bg.jpg') center center / cover no-repeat;
	padding-top: 75px;

	.promo__title {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 60px;
		line-height: 73px;
		text-transform: uppercase;
		color: var(--light-color, #f5f5f7);
    }

	.promo__subtitle{
		padding-top: 124px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 100;
		font-size: 32px;
		line-height: 39px;
		color: var(--light-color, #F5F5F7);
	}

	.promo__address {
		margin-top: 100px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 100;
		font-size: 16px;
		line-height: 19px;
		color: #F5F5F7;
			address {
				font-family: 'Inter';
				font-style: normal;
				font-weight: 100;
				font-size: 16px;
				line-height: 19px;
				color: inherit;
			}
			a {
				font-family: 'Inter';
				font-style: normal;
				font-weight: 100;
				font-size: 16px;
				line-height: 19px;
				color: inherit;
				text-decoration: none;
			}
	}

}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 20px;
	text-decoration: none;
	width: 160px;
	min-height: 38px;
	padding: 3px 10px;
	border: 1px solid var(--light-color, #F5F5F7);
	font-size: 16px;
	font-weight: Thin;
	color: var(--light-color, #F5F5F7);
	background-color: #000;
	cursor: pointer;
}

.btn:hover {
	border: 1px solid rgb(255, 168, 255);
}

.keywords {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
	padding: 0 360px;
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.04) 0%,
		rgba(255, 255, 255, 0.12) 50%,
		rgba(255, 255, 255, 0.2) 100%
	);
	li {
		list-style-type: none;
		color: var(--light-color);
		font-size: 10px;
		font-weight: 100;
		line-height: 12px;
	}
	
}